.img-profile{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.row-profile{
	display: flex;
	justify-content: center;
}

.fruitkha-contact{
	box-shadow:  0px 0px 5px 0px #b4a2a2;

}
.contact-from-section{
	padding: 50px 0px 100px 0px;
}